.flex-row {
	display: flex;
}
.flex-col {
	display: flex;
	flex-direction: column;
}
.flex-justify-between {
	justify-content: space-between;
}
.flex-justify-center {
	justify-content: center;
}
.flex-align-center {
	align-items: center;
}

.root {
	padding: 8px;
}
.root .leaf {
	margin: 8px;
}
